.badge {
  white-space: nowrap;
  border-radius: 5px;
  font-size: 0.85em;
  padding: 2px 4px;
  margin-top: 1px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
.typeinfo {
  font-family: $font-family-mono;
}
